
* {
  box-sizing: border-box; 
  font-family: Polibrush; 
  border: 0px;
}
body{
    background: #292931;
    margin: 0;
    padding: 0;
}

#list_button{
    margin-left: 15px;
    margin-right: 15px;
}
#head{
    background-image: url("images/head.jpg");
    position: fixed;
    top: 0;
    width: 100%;
}

#list_button li{
    float: right;
    display: inline;  
}

#dwnld{
    font-size: 18px;
    vertical-align: middle;
    line-height: 20px;
}

#menu {
    font-size: 25px;
    color: rgb(65, 65, 65);
    background-color:#e5e5e5;
    float:left;
    width:20%;
    padding:15px;
    margin-top:7px;
    text-align:center;
    border-radius: 5px;
  
}

#menuitem {
  background-color:#e5e5e5;
  padding:8px;
  margin-top:7px;
  border-radius: 5px;
  transition:all 0.4s ease;
}
#menuitem:hover{
    color: white;
    background: rgb(218, 141, 156);
    cursor: pointer;
}
#menuitem::before{
content: ">";
}

#main {
  font-size: 30px;
  color: rgb(143, 143, 143);
  float:left;
  width:60%;
  padding:0 20px;
}
#mainitem{
    color:  #292931;
    text-align: center;
    list-style-type: none;
    background-color:#e5e5e5;
    padding:8px;
    margin-top:7px;
    border-radius: 5px;
    transition:all 0.4s ease;   
}
#mainitem:hover{
    background: #292931;
    color: rgb(255, 255, 255);
    cursor: pointer;
}
#right {
  font-size: 25px;
  color: rgb(65, 65, 65);
  background-color:#e5e5e5;
  float:left;
  width:20%;
  padding:15px;
  margin-top:7px;
  text-align:center;
  border-radius: 5px;
}
#hello{    
    background-image: url("images/purple-back.jpg");
    background-size: inherit;
}

div h1{
    color: white;
   font-size: 100px;
   transition:all 0.4s ease;
   
}
div h1:hover{
    color: rgb(216, 63, 96);
}
#head input{
    display: inline;
    padding: 10px;
    font-size: 20px;
    font-family: Polibrush;
    color: rgb(65, 65, 65);
    background-color:#e5e5e5;
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    transition:all 0.6s ease;
}
#sign-in-btn:hover{
    color: #e5e5e5 ;
    background: #292931;
    cursor: pointer;
}
#sign-up-btn:hover{
    color: #e5e5e5 ;
    background: #292931;
    cursor: pointer;
}
#copyright{
    width: 100%;
    position: fixed;
    bottom: 0;
    background-color:#e5e5e5;
    text-align:center;
    padding:10px;
}

@media only screen and (max-width:620px) {
  /* For mobile ph ones: */
  #menu, #main, #right {
    width:100%;
  }
}

@font-face {
    font-family: Polibrush; /* имя шрифта для CSS правил */
    src: local("Polibrush"), /* проверяем наличие шрифта в ОС пользователя */
     url("fonts/Polibrush.ttf"); /* если шрифт не установлен, тогда загружаем его по указанному пути */
}