* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-image: url(images/1132667-full-size-purple-background-1920x1080-macbook.jpg);
}

#search_select ,#search_input {
    height: 29px;
    overflow: hidden;
    width: 240px;
}

#container {
    width: 80%;
    top: 20%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}

#entity_information {
    border-collapse: collapse;
    width: 80%;
}

#entity_information td, #entity_information th {
    border: 1px solid #ddd;
    padding: 8px;
}

#entity_information th {
    font-family: Polibrush;
    font-size: 30px;
    color: aliceblue;
    text-align: center;
    background-image: url("images/1132667-full-size-purple-background-1920x1080-macbook.jpg");
}

@media only screen and (max-width: 620px) {
    /* For mobile ph ones: */
    #menu, #main, #right {
        width: 100%;
    }
}

@font-face {
    font-family: Polibrush; /* имя шрифта для CSS правил */
    src: local("Polibrush"), /* проверяем наличие шрифта в ОС пользователя */ url("fonts/Polibrush.ttf"); /* если шрифт не установлен, тогда загружаем его по указанному пути */
}